html {
    margin: 0;
}

body {
    background-color: rgb(244, 193, 67);
}

#header{
    margin: 0;
}

#portfolio {
    max-width: 500px;
    margin: 0 auto 0 auto;
}

#portfolio img{
    max-width: 500px;
    padding: 20px;

}
